.popup__button {
  border-radius: 2px;
  background-color: #000;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  text-align: center;
  border: 0;
  width: 358px;
  min-height: 50px;
  padding: 0;
  margin: 10px 36px 37px;
  cursor: pointer;
  transition: opacity .5s ease;
}

.popup__button:hover {
  opacity: 80%;
}

@media screen and (max-width: 950px) {
  .popup__button {
    width: 238px;
    min-height: 46px;
    margin: 10px 22px 26px;
    font-size: 14px;
    line-height: 17px;
  }
}